[phases.setup]
nixPkgs = ["php82", "php82Packages.composer", "nodejs_20", "nginx"]

[phases.install]
cmds = [
    "composer install --optimize-autoloader --no-dev",
    "npm ci"
]

[phases.build]
cmds = [
    "npm run build",
    "php artisan config:cache",
    "php artisan route:cache"
]

[start]
cmd = "sh start.sh"


